
.whiteboard-controls{
  width: 100%;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background: #2c3e50;
  color: white;
}
.whiteboard-canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
.whiteboard-background{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background: green;
  opacity: 0.01;
}