
.fabric-editor-main{
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.fabric-editor-main .gutter{
  z-index: 110;
}
.fabric-editor-canvas{
  flex: 1;
  z-index: 101;
}
.fabric-editor-body{
  background: #272822;
}
.fabric-editor-footer{
  background: #272822;
  z-index: 101;
}
.fabric-editor-code, .fabric-editor-code .CodeMirror{
  width: 100%;
  height: 100%;
}
.fabric-editor-main .upper-canvas{
  border: solid 2px;
  margin: auto;
}
.fabric-editor-main .lower-canvas{
  background: #fff;
}
.fabric-editor-main .canvas-container{
  flex: 1;
}