
#caph-root {
  --background: #fff;
  --background-2: #eee;
  --background-pre: #ddd;
  --text: #24292e;
  --text-strong: #14191e;
  --text-2: #224466;
  --box-shadow: rgba(0,0,0,0.75);
  --marp-green: #2F7F2F;

  --loading-1: #f3f3f3;
  --loading-2: #555;

  --scrollbar-1: #90A4AE;
  --scrollbar-2: #CFD8DC;
}

@media only screen {
  #caph-root[data-theme='dark']{
    --background: #282923;
    --background-2: #6d6e6a;
    --background-pre: #aaa;
    --text: #f8f8f2;
    --text-strong: #fff;
    --text-2: #67d8ef;
    --box-shadow: rgba(100,100,100,0.75);

    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);

    --loading-1: hsl(20, 90%, 50%);
    --loading-2: #ccc;

    --scrollbar-1: #888;
    --scrollbar-2: #444;
  }
  #caph-root[data-theme='dark'] .auto-dark{
    filter: brightness(50%);
  }
}

/* Works on Chrome/Edge/Safari */
#caph-root * {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-1) var(--scrollbar-2);
}
#caph-root *::-webkit-scrollbar {
  width: 12px;
}
#caph-root *::-webkit-scrollbar-track {
  background: var(--scrollbar-2);
}
#caph-root *::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-1);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-2);
}

