body{margin:0;}

.hbox{ display: flex; }
.vbox{ display: flex; flex-direction: column; }
.boxcenter{ justify-content: center; }
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.flex{ flex: 1; }
.hidden{ display:none; }
.plugin-hidden{ display:none; }

.border{
  border: solid 2px var(--text-strong);
}
.box-shadow{
  box-shadow: 0px 0px 0.3rem 0.05rem var(--box-shadow);
}
.box-shadow:hover{
  box-shadow: 0px 0px 0.3rem 0.2rem var(--box-shadow);
}

div.plugin-loading{
  border: 5px solid var(--loading-2);
  border-top: 5px solid var(--loading-1);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}
div.plugin-loading.fullscreen-plugin-loading{
  position: fixed;
  bottom: 0; left:0;
  z-index: 100000;
}
div.plugin-loading-container{ width:100%; font-size: 1rem; }
#caph-root div.plugin-loading-container{ height: 100%; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.plugin-error{
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background: #ff8888;
  border-radius: 1em;
  padding: 1em;
}
.plugin-error-stack{
  padding: 0.5em;
  font-size: 80%;
}

.fullscreen-layer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


.mspace{ min-width:0.25em; }
.mord{ display: inline-block; }


.flashing{
  -webkit-animation: flashingAnimation 1s linear infinite;
  animation: flashingAnimation 1s linear infinite;
}
@keyframes flashingAnimation {
  0% { opacity: 0.3; }
  100% { opacity: 1; }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}