.hbox{ display: flex; }
.vbox{ display: flex; flex-direction: column; }
.boxcenter{ justify-content: center; }
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.flex{ flex: 1; }
.hidden{ display:none; }
.plugin-hidden{ display:none; }

.border{
  border: solid 2px black;
}
.box-shadow{
  box-shadow: 0px 0px 0.3rem 0.05rem rgba(0,0,0,0.75);
}
.box-shadow:hover{
  box-shadow: 0px 0px 0.3rem 0.2rem rgba(0,0,0,0.75);
}

div.plugin-loading{
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}
div.plugin-loading.fullscreen-plugin-loading{
  position: fixed;
  bottom: 0; left:0;
  z-index: 100000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.caph-menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 10000;
  opacity: 0;
  background-color: #eee;
  padding: 0.1rem;
  border-radius: .3rem;
}
.caph-menu-multiple:hover, .caph-menu-shown{
  opacity: 1;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
} 

@media print {
  .caph-menu{
    display: none;
  }
}
.plugin-error{
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background: #ff8888;
  border-radius: 1em;
  padding: 1em;
}
.plugin-error-stack{
  padding: 0.5em;
  font-size: 80%;
}
