

.blockquote{
  font-size: 1.4rem;
  width: 75%;
  margin: auto;
  font-family: sans-serif;
  font-style:italic;
  color: #555555;
  padding: 1.2rem 1rem 1.2rem 2rem;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.blockquote::before{
  font-family: Arial, sans-serif;
  content: "\201C";
  color:#78C0A8;
  font-size: 4rem;
  position: absolute;
  left: 10px;
  top:-10px;
}

.blockquote::after{
  content: '';
}

.blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}