/* ----------- Tex theme --------------- */

:root {
  --font-black: #121417;
  --marp-black: #24292e;
  --marp-blue: #224466;
  --marp-blacker: #14191e;
  --marp-bullet: #555555;
  --bright-blue: #336699;
  --brighter-blue: #4488CC;
  --marp-green: #2F7F2F;
}
@font-face {
  font-family: Latin Modern Roman;
  src: url(fonts/latin-modern-roman/lmroman10-regular.otf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: Latin Modern Roman;
  font-weight: bold;
  src: url(fonts/latin-modern-roman/lmroman10-bold.otf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: Latin Modern Roman;
  font-weight: bold;
  font-style: italic;
  src: url(fonts/latin-modern-roman/lmroman10-bolditalic.otf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: Latin Modern Roman;
  font-style: italic;
  src: url(fonts/latin-modern-roman/lmroman10-italic.otf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

html{
  background: #eee;
}
body{
  font-family: Latin Modern Roman, Computer Modern, sans-serif;
  font-size: 1.2rem;
  color: var(--marp-black);
  padding: 5em;
  padding-top: 3.5em;
  max-width: 30em;
  margin: auto;
  margin-top: 3em;
  margin-bottom: calc(50vh - 5em);
  box-shadow: 0px 0px 1px 0px;
  text-align: justify;
  background: #fff;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0.5em;
    margin-top: 0.2em;
    max-width: calc(100vw - 2em);
  }
}
@media print {
  body {
    margin: initial;
    padding: initial;
    max-width: initial;
    background: initial;
    box-shadow: initial;
  }
  html {
    background: initial;
  }
}


span.katex.display.formula{
  text-align: center;
}
span.katex{
  font-size: 1em;
}

table tr:nth-child(even){
  background-color: #88888810;
}
table tr:hover{
  background-color: #88888840;
}
td.center{
  text-align: center;
}
th.center{
  text-align: center;
}
table th{
  background: #ffffff;
  color: var(--marp-blue);
  font-size: 0.9em;
  border-bottom: 1px solid #000;
} 
table td {
  border-bottom: 1px solid #ddd;
  border-top: none;
}
.no-page-break {
  page-break-inside: avoid;
}
.page-break {
  page-break-before: always;
}
canvas{
  page-break-inside: avoid;
}
table{
  page-break-inside: avoid;
}